$primary_color: rgb(2, 2, 48);
$secondary_color: rgb(235, 235, 235);
$third_color: rgb(1, 204, 143);
$fourth_color: #0D1944;

$border_color: #3750A8;


$mobile_tablet_breakpoint: 768px;

$mobile_breakpoint: 475px;

$background_img: "../../public/img/background-nft.jpg";